@import url('https://fonts.googleapis.com/css2?family=Edu+SA+Beginner:wght@500&family=Rubik+Moonrocks&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Edu+SA+Beginner:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Edu+SA+Beginner:wght@500&family=Rubik+Moonrocks&display=swap');
    /* admin page */
    body{margin: 0; padding: 0; background-color:black;  position: relative;
        direction: rtl;  font-family: Arial, Helvetica, sans-serif;
    }
    .contirn{
        width: 80%; margin: auto; overflow:hidden;
    }
    ul{margin: 0; padding: 0; }
    header{ 
        background: #353637;
        color: #ffffff;
        padding-top: 0px; 
        border-bottom: goldenrod 5px solid;
        box-shadow: 1px 1px 20px goldenrod;
        height: auto;
    }
    header div embed{border-radius: 5px 5px 5px 5px;
        box-shadow: 1px 1px 10px goldenrod;
    }
    header a{font-family: 'Edu SA Beginner', cursive;
        color: aquamarine;
        text-decoration: none;
        font-size: 30px;
        transition: 0.5s;
        }
    header a:hover{color: white; font-weight: bolder;
    }
    .onit{ color: goldenrod; font-family: 'Edu SA Beginner', cursive;
    }
    header li{
        float: right; display: inline; padding: 0 20px 0 20px;
    }
    header h1{  float: left; color: goldenrod; font-family: 'Rubik Moonrocks', cursive;
        font-size: 50px;
        cursor: default;
        transition: 3s;
    }
    header h1:hover{text-shadow: 1px 1px 20px goldenrod;}
    header nav{ margin-top: 15%;}
    #photo{ width:80%;
        margin-top:10%;
        text-align:center;
        margin-right:10%;}
    footer{text-align: center; align-items: center; align-content: center; color: goldenrod; background-color: #353637; position: relative;
        margin-top: 50px; width: 100%; direction: rtl;}
    
    
    footer a button{background-color:#ffffff; color:#353637;
        border: none;
        border-radius: 100%;
        font-size: 25px; font-weight: bold;
        width: 30px;
        text-align: center;
        cursor: pointer;
        margin-left: 10px;
        text-shadow: 1px 1px 15px #353637;
        transition: 2.5s;
    }
    footer a button:hover{background-color: goldenrod;
        transform: rotate(360deg);
    }
    footer  h3{font-family: 'Bebas Neue', cursive; 
        font-size: 24px; margin-top: 10px;
    }
    .foot-img{ width: 20%; margin-right: 40%; border-radius: 5%;  border: #353637 solid 2px;}
    .foot-img img {border-radius: 5%; border: #353637 solid 2px;}
    .foot-loc {width: 50%; border-left: black solid 3px; display: inline-block; }
    #fot-detalis {margin-top: 40px; text-align: right;}
    #fot-detalis a {text-decoration: none; color: black; font-size: large; font-weight: bold; }
    #fot-detalis a img {width: 30px;}
    #fot-detalis div  {margin-top: 20px; color: black;}
    #fot-detalis div h4 { display: inline-block;}
    #fot-detalis div img{width: 30px;}
    .soical{ width: 50%;  float: left;}
    /* shope */
    .category{ width: 25%;  display: inline-block; margin: 30px 4%; background-color:#353637;
         border-radius: 5%; border-bottom: gray solid 2px; box-shadow: 1px 1px 10px white;
        text-align: center; align-items: center; align-content: center;}
    .category button {width: 100%; border: none;  border-radius: 5%; background-color: #353637;}
    .category button div{width: 100%; background-color: #353637;}
    .category button div img{width: 100%; height: 250px; border-radius: 5%; margin-top: 5px; }
    .category a { text-decoration: none; color: goldenrod; font-size: xx-large; 
         font-family:'Rubik Moonrocks', cursive;}
    .bot{margin-right: 300px;}
    @media only screen and (max-width:1000px){
            footer{margin-top:55%; } 
            .card{ width: 14rem; }
            .category{height: 350px; margin-top: 20%;}
            }
    .cards{ margin-top: 50px; direction: ltr; width:99%;}
    .cards h1 {color: #ffffff; margin-top: 20px;}
    .card { position: relative; height: 450px; background-color:#353637; width: 15rem;  margin: 40px 30px 20px 30px;  border: #353637 2px solid; border-radius: 10px; box-shadow: 1px 1px 20px goldenrod;}
    .card img {border-radius: 5px;  border-bottom: 1px solid goldenrod;}
    .card h5{color:goldenrod}
    .card h6 { color: #ffffff; display: inline; }
    .card p {font-size: large; color: #ffffff;}
    .card a button {background-color: goldenrod; border: none;}
    .card a {background-color: goldenrod; position: absolute; top: 90%; left: 2px;}
    .price {   position: absolute;
        top:15px; left:-30px;
        transform: rotateZ(-40deg);
        padding:1px 14px;
        border-radius: 5px;
        background-color: orange;
        color:white;
        font-size: 20px;}
    .item {display:inline-block;  margin-bottom: 50px; margin-top: 50px;}
    .category-card h1 {margin-left: 40%; color: #ffffff;}
    .category-card { border-radius: 5px; margin-right: 1%; direction: ltr; margin-top: 50px;}
    @media only screen and (max-width:1000px){
    #photo{margin-top: 50%;}
    #useer,#pass{width:50%} 
    .card{ width: 14rem; }
    .select { margin-top: 210px; margin-bottom: -350px;}
    }
    @media only screen and (max-width:700px){.form-container form input:placeholder-shown , #btn {font-size: small;}
    #btn {width: 40%;}
    .form-container {margin-top: -50px; height: 900px;}
    .form-container img  { margin-top: 25%;  width: 100%;}}